body {
  background-color: blue;
  font: normal 18pt Arial;
}

header {
  color: white;
  text-align: center; /*Adiciona a header ao centro da body*/
}

section {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 5px 5px 10px black;
}

div {
  text-align: center; /*Adiciona o texto ao centro da div*/
  padding: 10px;
}

footer {
  color: white;
  text-align: center;
  font-style: italic;
}
